
myproject/ChatApp/ChatApp/__pycache__/settings.cpython-310.pyc
myproject/ChatApp/ChatApp/__pycache__/settings.cpython-310.pyc
myproject/ChatApp/ChatApp/__pycache__/urls.cpython-310.pyc
myproject/ChatApp/db.sqlite3
myproject/ChatApp/myapp/__pycache__/models.cpython-310.pyc
myproject/ChatApp/myapp/__pycache__/urls.cpython-310.pyc
myproject/ChatApp/myapp/__pycache__/views.cpython-310.pyc
